# deps
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
.next/
out/

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*

# db (sqlite fallback)
*.sqlite
*.db

# prisma
apps/api/prisma/migrations/dev.db*

# os / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
